<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>TSS TEST</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <script src="./angular.min.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('ctrl', function($scope, $http) {


            $scope.responses = [];
            $scope.url= "";
            $scope.type="POST";
            $scope.detail = "";

            $scope.urllist= [
            {'text': 'Login', 'url': '/account/login', 'metot': 'POST'},
            {'text': 'Logout', 'url': '/account/logout', 'metot': 'GET'},
            ];

            $http({
                    method : "GET",
                    url : "/loadservices",
                    headers: {
                        "Content-Type":"application/json",
                    }
                 }).then(function mySuccess(response) {
                    var services = response.data.services;
                    $scope.urllist = [];
                    for(var i=0; i < services.length; i++){
                        var reqStr = services[i].request.split("'").join('"');
                        if (reqStr == ""){
                            reqStr = "{}";
                        }
                        $scope.urllist.push(
                        {'text':    services[i].url,
                         'url':     services[i].url,
                         'metot':   services[i].metot,
                         'status':  services[i].status,
                         'detail':  services[i].detail,
                         'request': services[i].request,
                        });
                    }
                 }, function myError(response) {
                    alert("HATA: Url listesi getirilemedi.");
                 });


            $scope.metadata = [
                {"key":"Content-Type", "value":"application/json"},
            ];

            $scope.veriler = '{"username":"Muhammet", "password":"1234"}';
            $scope.getveri = function() {
                if($scope.veriler == "") return "{}";
                return JSON.parse($scope.veriler.split("'").join("\""));
            }

            $scope.yenimeta = function(){
                $scope.metadata.push({"key":"", "value":""});
            };

            $scope.submit = function(){
                var head = '{ ';
                for(var i=0; i<$scope.metadata.length;i++){
                    var key =$scope.metadata[i]['key'];
                    var val =$scope.metadata[i]['value'];
                    head +='"' + key + '" : "' + val + '",';
                }
                head = head.slice(0, -1)
                head += '}';

                var data = $scope.data;
                 $http({
                    method : $scope.type,
                    url : $scope.url,
                    data: $scope.getveri(),
                    headers: JSON.parse(head),
                 }).then(function mySuccess(response) {
                    $scope.responses.unshift(response);
                 }, function myError(response) {
                    $scope.responses.unshift(response);
                 });
            };

            $scope.responseClear = function(){
                $scope.responses = [];
            };

            $scope.deleteData = function(index){
                $scope.veriler.splice(index, 1);
            };

            $scope.deleteHeader = function(index){
                $scope.metadata.splice(index, 1);
            };

            $scope.urlWrite = function(url, metod, request, detail){
                $scope.url = location.protocol + '//' + location.host + url;
                $scope.type = metod;
                $scope.detail = url + ": " + detail;
                if (request != undefined){
                    $scope.veriler = request;
                }
            };

            $scope.urllist[0]
            $scope.urlWrite("/account/login", "POST", undefined, "Giriş Yapma");

            $scope.setCookie =function(cname, cvalue, exdays) {
              var d = new Date();
              d.setTime(d.getTime() + (exdays*24*60*60*1000));
              var expires = "expires="+ d.toUTCString();
              document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }

            $scope.getCookie = function(cname) {
              var name = cname + "=";
              var decodedCookie = decodeURIComponent(document.cookie);
              var ca = decodedCookie.split(';');
              for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                  c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
                }
              }
              return "";
            }

        });
    </script>
</head>
<body ng-app="app" ng-controller="ctrl">
    <div class="container">
        <div class="row">
            <h1 class="col-12 bg-success text-light text-center">Paket Gönder</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="input-group">
                    <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hazır Kodlar
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"
                           ng-class="{'bg-success': item.status == 'Bitti', 'bg-warning': item.status == 'Yapılıyor',
                           'bg-secondary': item.status == 'Başlanmadı', 'text-light': item.status != 'Yapılıyor'}"
                           ng-repeat="item in urllist" ng-click="urlWrite(item.url, item.metot, item.request, item.detail)">{{item.text}}</a>

                      </div>
                    </div>
                    <select class="input-group-item form-control" ng-model="type" style="max-width:100px;">
                        <option>GET</option>
                        <option>POST</option>
                        <option>DELETE</option>
                        <option>PUT</option>
                    </select>
                    <input class="input-group-item form-control" type="text" ng-model="url" name="url"
                    ng-class="{'border-danger': url.includes('<'), 'text-danger': url.includes('<')}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{detail}}</p>
                <h3>Üst Bilgi Gir</h3>
                <div class="list-group">
                    <div class="list-group-item list-group-item-success" ng-repeat="meta in metadata">
                        <div class="input-group">
                            <input class="input-group-item form-control" type="text" ng-model="meta.key" placeholder="Key">
                            <input class="input-group-item form-control" type="text" ng-model="meta.value" placeholder="Value">
                            <div class="btn btn-dark input-group-item" ng-click="deleteHeader($index)">-</div>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <div class="btn btn-success" ng-click="yenimeta()">Yeni</div>
                    <div class="btn btn-warning" ng-click='metadata=[{"key":"Content-Type", "value":"application/json"}];'>Reset</div>
                    <div class="btn btn-danger" ng-click='metadata=[];'>Sil</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Veri Gir</h3>
                <!--div class="list-group">
                    <div class="list-group-item list-group-item-success" ng-repeat="veri in veriler">
                        <div class="input-group">
                            <input class="input-group-item form-control" type="text" ng-model="veri.key" placeholder="Key">
                            <input class="input-group-item form-control" type="text" ng-model="veri.value" placeholder="Value">
                            <div class="btn btn-dark input-group-item" ng-click="deleteData($index)">-</div>
                        </div>
                    </div>
                </div-->
                <textarea class="form-control" ng-model="veriler"></textarea>
                <!--textarea class="w-50 form-control" ng-model="data"></textarea-->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="btn-group">
                    <div class="btn btn-primary" ng-click="submit()">Gönder</div>
                    <div class="btn btn-danger" ng-click="responseClear()">Temizle</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="list-group">
                    <div class="list-group-item " ng-class="{'list-group-item-danger':response.status >= 400, 'list-group-item-success': response.status < 300, 'list-group-item-warning': response.status >= 300}" ng-repeat="response in responses">
                        <table class="">
                            <tr>
                                <td><b>Url</b></td>
                                <td><b><span class="badge badge-dark">{{response.config.method}}</span> {{response.config.url}}</b></td>
                            </tr>
                            <tr>
                                <td><b>Request Header</b></td>
                                <td>{{response.config.headers}}</td>
                            </tr>
                            <tr>
                                <td><b>Request Data</b></td>
                                <td>{{response.config.data}}</td>
                            </tr>
                            <tr>
                                <td><b>Response Data</b></td>
                                <td>
                                    {{response.data}}
                                    <div class="btn btn-success btn-sm" ng-show="response.data.auth"
                                         ng-click='metadata.push({"key":"auth", "value": response.data.auth})'>Keyi Al</div>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Status</b></td>
                                <td><span class="badge badge-dark">{{response.status}}</span> {{response.statusText}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
